body {
    background-color: beige;
}

#tooltip {
    background-color: white;
    height: auto;
    width: auto;
    opacity:0;
    position:absolute;
    pointer-events: none;
    border-radius: 15px;
    padding: 10px;
}

#title {
    margin: 0 auto;
    display: block;
}

svg {
    // text-align: center;
}